body {
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    line-height: 23px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    background: $white-bkg;
    width: 1440px;
}

.footer {
    width: 1440px;
    margin: -1px 0 0 0;
    background: $black-bkg;
}

