.newsletter {
    width: 100%;
    //width: 1440px;
    min-height: 100px;
    background: $black-bkg;
    margin: -6px 0 0 0;
    @include flex-center;

    .newsletter__title {
        margin: 0 70px 0 0;
        font-family: Open Sans;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.9px;
        text-align: center;
        color: $white-let;
    }
    
    .newsletter__subscribe-send {
        width: 400px;
        min-height: 40px;
        display: flex;
    }

    .newsletter__subscribe-send-text {
        width: 250px;
        min-height: inherit;
        padding: 0 0 0 16px;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }

    .newsletter__subscribe-send-button {
        width: 150px;
        min-height: inherit;
        background: $blue-let;
        border: none;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: $white-let;
    }

    .newsletter__subscribe-send-button:hover {
     border: solid 2px $white-bkg;
    }

    .newsletter__subscribe-send-button:active {
     color: $grey-let;
    }
}

@media (max-width: $desktop-width) {
    .newsletter {
        width: 730px;
        @include title-flex;

        .newsletter__title {
            margin: 30px 0 30px 0;
        }
    }
}

