.story {
    min-height: 525px;

    .story__title {
        @include title-flex;
        padding: 57px 0 0 0;
        min-height: 150px;
    }

    .story__title-text {

        text-align: center;
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 21px;
        color: $grey-let;
        text-transform: uppercase;

        /*@include tablet {
            color: red;
        }*/
    }

    .story__title-underline {
        width: 50px;
        height: 2px;
        margin: 10px 0 0 0;
        background-color: $blue-let
    }

    .story__content {
        display: block;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .story__founded {
        width: 405px;
        min-height: 260px;
        margin: 0 50px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .story__founded-title {
        font-family: Open Sans;
        font-size: 20px;
        line-height: 23px;
        font-weight: 900;
        letter-spacing: 0.2px;
        text-align: left;
        color: $grey-let;

        @include tablet {
            text-align: center;
            width: 470px;
        }
    }

    .story__founded-title-konstruct {
        color: $blue-let
    }

    .story__founded-text {
        margin: 30px 0 30px 0;
        font-family: 'Open Sans';
        @include font-color();

        @include tablet {
            text-align: center;
            width: 470px;
        }
    }

    .story__list {
        display: flex;
        justify-content: space-between;
        min-height: 225px;
        width: 470px;
        margin: 0 0 30px 50px;
        float: right;

        @include tablet {
            text-align: center;
            margin: 0 0 30px 0;
        }
    }

    .story__item {
        width: 150px;
        min-height: 225px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .story__item-text {
        margin: 15px;
        font-family: Open Sans;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.2px;
        text-align: left;
        text-transform: uppercase;
        color: $white-bkg;
        font-weight: 900;
    }

    .story__item-plan {
        background-image: url(../img/we-plan.jpg);
    }

    .story__item-manage {
        background-image: url(../img/we-manage.jpg);
        margin: 0 10px 0 10px;
    }

    .story__item-build {
        background-image: url(../img/we-build.jpg);
    }
}

@media (max-width: $desktop-width) {
    .story {
            
        .story__founded-text {
            font-family: 'Open Sans';
            @include font-color();
        }

        .story__title {
            min-height: 65px;
        }
    }
}